# Secrets
credentials.json
token.json
config.py
.env

# Python
__pycache__/
*.pyc
.venv/
env/

# OS
.DS_Store

# Git hash tracking
data/github_hash_store.json
data/gdrive_hash_store.json
data/synthetic_hash_store.json

# IDE
.idea/
.vscode/

#Frontend
frontend/node_modules

